<div style="min-height:500px; align-items-center;">
    <div class="col col-sm-2 project_link">
        <a href="http://localhost:3001/index" class="text-decoration-none "><h4>Blog</h4></a>
        <p>My first Blog Project!</p>
    </div> 
</div>